## Загрузим нужные библиотеки

Идеи:
~~1) Переменная - количество авторов. ~~
2) OneHotEncoder - авторов в число (автор чувствует статью)
~~3) Отдельно выделить без авторов?~~
4) Определить популярность слов в теге, используя гугл трендс за период --> Интересно, но сложно

5) Определять выходные (например). => Поиграться с датой (мб часы утренние/вечерние)

6) Заменить категорию, сессию, автора (и/или) на среднее значение по frp (например)

7) Аналогично с тегами (Узнать че за теги (изи) + популярность)

8) Распарсить сайт для поиска авторов и посчитать их среднюю популярность тип. (За 10 статей, например)

9) Получить длину слов в статье (Влияет как минимум на процент читателей полность проситавших статью)

10) Предсказать на основе View и Depth frp

In [120]:
import pandas as pd
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [121]:
import numpy as np
import xgboost as xg

Выполним загрузу датсета

In [122]:
df_train = pd.read_csv("content/train_dataset_train.csv", index_col= 0)
df_test = pd.read_csv("content/test_dataset_test.csv", index_col= 0)

In [123]:
import pandas as pd
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

import numpy as np
import xgboost as xg

Выполним загрузу датсета

In [124]:
df_train = pd.read_csv("content/train_dataset_train.csv", index_col= 0)
df_test = pd.read_csv("content/test_dataset_test.csv", index_col= 0)

In [126]:
df_train.head(3)

,title,publish_date,session,authors,ctr,category,tags,views,depth,full_reads_percent
document_id,,,,,,,,,,
624ac09c9a7947db3d80c98eIDE7mtH4RBqGn-8MXfGffQ,Европейский банк развития приостановил доступ ...,2022-04-04 10:29:44,IDE7mtH4RBqGn-8MXfGffQ,[],1.580,5409f11ce063da9c8b588a18,"['55928d339a794751dc8303d6', '542d1e28cbb20f86...",20460,1.134,35.850
620f6b899a7947701cf489e1KtVJsteHStO5oditt3Uvzw,Кремль назвал регулярным процессом учебные зап...,2022-02-18 10:00:39,KtVJsteHStO5oditt3Uvzw,"['54244e01cbb20f03076b236d','5878a2ec9a7947e53...",1.853,5409f11ce063da9c8b588a12,"['549d25df9a794775979561d2', '58abcf539a7947f1...",19038,1.142,38.355
620730cf9a7947ab96a44e27hk7puWJwSziw0m3sfTkKWA,Госсекретарь Швеции заявила о нежелании вступа...,2022-02-12 04:24:02,hk7puWJwSziw0m3sfTkKWA,[],0.000,5409f11ce063da9c8b588a12,"['5430f451cbb20f73931ecd05', '5409f15de063daa0...",51151,1.185,36.424

In [127]:
sample = pd.read_csv("content/sample_solution.csv", index_col= 0)

### Замена данных (Дата, session, authors,  category, tags, authors)

Создаем объединенный датафрейм трейна и теста. Заменим там перемнные и разобьем его обратно

In [128]:
# , "tags"
frames = [df_train[["category", "session", "authors"]], df_test[["category", "session", "authors"]]]
df_temp = pd.concat(frames)

In [129]:
df_temp.head()

,category,session,authors
document_id,,,
624ac09c9a7947db3d80c98eIDE7mtH4RBqGn-8MXfGffQ,5409f11ce063da9c8b588a18,IDE7mtH4RBqGn-8MXfGffQ,[]
620f6b899a7947701cf489e1KtVJsteHStO5oditt3Uvzw,5409f11ce063da9c8b588a12,KtVJsteHStO5oditt3Uvzw,"['54244e01cbb20f03076b236d','5878a2ec9a7947e53..."
620730cf9a7947ab96a44e27hk7puWJwSziw0m3sfTkKWA,5409f11ce063da9c8b588a12,hk7puWJwSziw0m3sfTkKWA,[]
6262a5889a79470b78c9ca307UKY2SSZTjCcjhwBzxw37w,5409f11ce063da9c8b588a12,7UKY2SSZTjCcjhwBzxw37w,[]
626678929a79477ca0101568wuMYES90REuV5YhrN75IXg,5433e5decbb20f277b20eca9,wuMYES90REuV5YhrN75IXg,[]

In [130]:
df_temp["category"] = df_temp["category"].astype('category')
df_temp["category"] = df_temp["category"].cat.codes
df_temp["category"] = df_temp["category"].astype('int')

df_temp["authors"] = df_temp["authors"].astype('category')
df_temp["authors"] = df_temp["authors"].cat.codes
df_temp["authors"] = df_temp["authors"].astype('int')

df_temp["session"] = df_temp["session"].astype('category')
df_temp["session"] = df_temp["session"].cat.codes
df_temp["session"] = df_temp["session"].astype('int')

#df_temp["tags"] = df_temp["tags"].astype('category')
#df_temp["tags"] = df_temp["tags"].cat.codes
#df_temp["tags"] = df_temp["tags"].astype('int')

In [131]:

df_train = pd.merge(
    df_train,
    df_temp,
    how="left",
    left_index=True,
    right_index=True,
    sort=False,
    suffixes=("", "_code"),
    copy=True,
    indicator=False,
    validate=None,
)

df_test = pd.merge(
    df_test,
    df_temp,
    how="left",
    left_index=True,
    right_index=True,
    sort=False,
    suffixes=("", "_code"),
    copy=True,
    indicator=False,
    validate=None,
)

### Добавляем фичи

Добавим число тегов и авторов

In [132]:
for dataset in [df_train, df_test]:
    dataset['n_authors'] = dataset['authors'].map(lambda x: 0 if x.split(',') == ['[]'] else len(x.split(',')) )
    dataset['n_tags'] = dataset['tags'].map(lambda x: 0 if x.split(',') == ['[]'] else len(x.split(',')) )

Добавим день, меся, год

In [133]:
for dataset in [df_train, df_test]:
    dataset['day'] = pd.to_datetime(dataset['publish_date']).dt.strftime("%d").astype(int)
    dataset['mounth'] = pd.to_datetime(dataset['publish_date']).dt.strftime("%m").astype(int)
    dataset['year'] = pd.to_datetime(dataset['publish_date']).dt.strftime("%y").astype(int)

In [134]:
df_train.head(3)

,title,publish_date,session,authors,ctr,category,tags,views,depth,full_reads_percent,category_code,session_code,authors_code,n_authors,n_tags,day,mounth,year
document_id,,,,,,,,,,,,,,,,,,
624ac09c9a7947db3d80c98eIDE7mtH4RBqGn-8MXfGffQ,Европейский банк развития приостановил доступ ...,2022-04-04 10:29:44,IDE7mtH4RBqGn-8MXfGffQ,[],1.580,5409f11ce063da9c8b588a18,"['55928d339a794751dc8303d6', '542d1e28cbb20f86...",20460,1.134,35.850,2,2405,739,0,4,4,4,22
620f6b899a7947701cf489e1KtVJsteHStO5oditt3Uvzw,Кремль назвал регулярным процессом учебные зап...,2022-02-18 10:00:39,KtVJsteHStO5oditt3Uvzw,"['54244e01cbb20f03076b236d','5878a2ec9a7947e53...",1.853,5409f11ce063da9c8b588a12,"['549d25df9a794775979561d2', '58abcf539a7947f1...",19038,1.142,38.355,0,2724,46,2,3,18,2,22
620730cf9a7947ab96a44e27hk7puWJwSziw0m3sfTkKWA,Госсекретарь Швеции заявила о нежелании вступа...,2022-02-12 04:24:02,hk7puWJwSziw0m3sfTkKWA,[],0.000,5409f11ce063da9c8b588a12,"['5430f451cbb20f73931ecd05', '5409f15de063daa0...",51151,1.185,36.424,0,5741,739,0,3,12,2,22

In [174]:
df_train.tags[0]

"['55928d339a794751dc8303d6', '542d1e28cbb20f862ac2c1f6', '5409f140e063daa0f408ad1d', '55797e339a794789759c64a1']"

In [135]:
df_test.head(3)

,title,publish_date,session,authors,ctr,category,tags,category_code,session_code,authors_code,n_authors,n_tags,day,mounth,year
document_id,,,,,,,,,,,,,,,
61f9569a9a794794245a82abJ0AvX96vTAaQCiWVbzoMdw,«Крайне провокационная тема»: как Россия и США...,2022-02-01 17:02:44,J0AvX96vTAaQCiWVbzoMdw,[],0.000,5409f11ce063da9c8b588a12,"['58ca77679a794700b1e37f0a', '5409f1b7e063daa0...",0,2510,739,0,5,1,2,22
628c22b89a79470e553f594bQS5CqzXYRnmDdR2LaSreEw,Власти Херсонской области пообещали сделать ру...,2022-05-24 00:50:55,QS5CqzXYRnmDdR2LaSreEw,[],1.598,5409f11ce063da9c8b588a12,"['5433603acbb20f6e5def0cc5', '5409f420e063daa0...",0,3427,739,0,4,24,5,22
627cb3249a7947ebdd752865XVsoyrUOT8OJJg2_finJhw,Премьер и президент Финляндии призвали срочно ...,2022-05-12 07:11:51,XVsoyrUOT8OJJg2_finJhw,[],2.006,5409f11ce063da9c8b588a12,"['5409f270e063daa0f408b0a7', '5409f196e063daa0...",0,4312,739,0,3,12,5,22

In [177]:
df_train.n_authors.value_counts()

1     3457
0     2900
2      547
3       65
14      13
4       10
5        8
Name: n_authors, dtype: int64

## Выделим выборки

#### Код сессии - ?

In [136]:
y = df_train[["views","depth","full_reads_percent"]]


X = df_train.drop(["views","depth","full_reads_percent", 
                   "title","publish_date", "session", "tags",
                   "authors", "category"], axis = 1)
test_df = df_test.drop(["title", "publish_date", "session", "tags", "authors", "category"], axis = 1)

In [137]:
X.head()

,ctr,category_code,session_code,authors_code,n_authors,n_tags,day,mounth,year
document_id,,,,,,,,,
624ac09c9a7947db3d80c98eIDE7mtH4RBqGn-8MXfGffQ,1.580,2,2405,739,0,4,4,4,22
620f6b899a7947701cf489e1KtVJsteHStO5oditt3Uvzw,1.853,0,2724,46,2,3,18,2,22
620730cf9a7947ab96a44e27hk7puWJwSziw0m3sfTkKWA,0.000,0,5741,739,0,3,12,2,22
6262a5889a79470b78c9ca307UKY2SSZTjCcjhwBzxw37w,0.000,0,1049,739,0,5,22,4,22
626678929a79477ca0101568wuMYES90REuV5YhrN75IXg,0.000,5,7665,739,0,6,25,4,22

In [138]:
test_df.head()

,ctr,category_code,session_code,authors_code,n_authors,n_tags,day,mounth,year
document_id,,,,,,,,,
61f9569a9a794794245a82abJ0AvX96vTAaQCiWVbzoMdw,0.000,0,2510,739,0,5,1,2,22
628c22b89a79470e553f594bQS5CqzXYRnmDdR2LaSreEw,1.598,0,3427,739,0,4,24,5,22
627cb3249a7947ebdd752865XVsoyrUOT8OJJg2_finJhw,2.006,0,4312,739,0,3,12,5,22
628618629a7947d4927eb812upfii3whSSuMXCqcqF8VbQ,0.000,0,7405,739,0,4,19,5,22
620e76109a7947235623695b5hzCiIHdSYKQIr8WAM18bw,9.136,0,852,494,1,3,17,2,22

In [139]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

## Подбор модели

In [140]:
%%time
#regr = RandomForestRegressor(random_state=0)
model_views = xg.XGBRegressor()
model_depth = xg.XGBRegressor()
model_full_reads_percent = xg.XGBRegressor()

Wall time: 1.01 ms

Обучим модели

In [141]:
%%time
model_views.fit(X_train, y_train['views'])
model_depth.fit(X_train, y_train['depth'])
model_full_reads_percent.fit(X_train, y_train['full_reads_percent'])

Wall time: 1.18 s

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=8,
             num_parallel_tree=1, objective='reg:squarederror',
             predictor='auto', random_state=0, reg_alpha=0, reg_lambda=1,
             scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [142]:
X_train.columns

Index(['ctr', 'category_code', 'session_code', 'authors_code', 'n_authors',
       'n_tags', 'day', 'mounth', 'year'],
      dtype='object')

In [143]:
for model in [model_views, model_depth, model_full_reads_percent]:
    for i in range(len(X_train.columns)):
        print(X_train.columns[i], ' : ', model.feature_importances_[i])
    print()

ctr  :  0.3129409
category_code  :  0.021954479
session_code  :  0.04105967
authors_code  :  0.12347884
n_authors  :  0.1555383
n_tags  :  0.09105722
day  :  0.045967158
mounth  :  0.20587336
year  :  0.0021301094

ctr  :  0.037546743
category_code  :  0.012065717
session_code  :  0.014281995
authors_code  :  0.019523881
n_authors  :  0.23899378
n_tags  :  0.02290242
day  :  0.06551053
mounth  :  0.5830466
year  :  0.0061284187

ctr  :  0.13743685
category_code  :  0.09633574
session_code  :  0.074334964
authors_code  :  0.2037579
n_authors  :  0.091038495
n_tags  :  0.1557441
day  :  0.08187926
mounth  :  0.11059478
year  :  0.048877906

year - нафиг

Предскажем значения

In [144]:
pred_views = model_views.predict(X_test)
pred_depth = model_depth.predict(X_test)
pred_full_reads_percent = model_full_reads_percent.predict(X_test)

## Оценка точности

In [145]:
#score_views = r2_score(y_test["views"], pred[:,0])
#score_depth = r2_score(y_test["depth"], pred[:,1])
#score_frp = r2_score(y_test["full_reads_percent"], pred[:,2])
score_views = r2_score(y_test["views"], pred_views)
print('score_views = ', score_views)
score_depth = r2_score(y_test["depth"], pred_depth)
print('score_depth = ', score_depth)
score_frp = r2_score(y_test["full_reads_percent"], pred_full_reads_percent)
print('score_frp = ', score_frp)

score_views =  0.5859565955710757
score_depth =  0.7572098890615138
score_frp =  0.2734344431352733

In [146]:
score = 0.4 * score_views + 0.3 * score_depth + 0.3 * score_frp

print(score)

0.5435759378874665

### Исследуем модель для views

In [147]:
%%time
model_1 = xg.XGBRegressor()
scores_v = cross_validate(model_1, X, y['views'], cv=5, scoring='r2')
print('Используя все фичи: ', scores_v['test_score'].mean())

for fiature in ['category_code', 'year', 'day', 'n_tags', 'session_code']:
    model_1 = xg.XGBRegressor()
    scores_v = cross_validate(model_1, 
                              X.drop(fiature, axis = 1),
                              y['views'], cv=5, scoring='r2')
    print('Без ',fiature,':', scores_v['test_score'].mean())

Используя все фичи:  0.4994086596049425
Без  category_code : 0.49595772685940903
Без  year : 0.49666517466100546
Без  day : 0.414306881850883
Без  n_tags : 0.600797813944905
Без  session_code : 0.4937568889859902
Wall time: 15.1 s

Вывод - можно попробовать убрать n_tags

In [148]:
X_local = X.drop(['n_tags'],axis = 1)

In [149]:
%%time
model_1 = xg.XGBRegressor()
scores_v = cross_validate(model_1, X_local, y['views'], cv=5, scoring='r2')
print('Используя все фичи (без n_tags): ', scores_v['test_score'].mean())

for fiature in ['category_code', 'year', 'day', 'session_code']:
    model_1 = xg.XGBRegressor()
    scores_v = cross_validate(model_1, 
                              X_local.drop(fiature, axis = 1),
                              y['views'], cv=5, scoring='r2')
    print('Без ',fiature,':', scores_v['test_score'].mean())

Используя все фичи (без n_tags):  0.600797813944905
Без  category_code : 0.6013165969631211
Без  year : 0.6072801893772356
Без  day : 0.49151522179096707
Без  session_code : 0.6080099763707765
Wall time: 11.9 s

Вывод: Оставляем как есть

### Исследуем модель для depth

In [151]:
%%time
model_1 = xg.XGBRegressor()
scores_v = cross_validate(model_1, X, y['depth'], cv=5, scoring='r2')
print('Используя все фичи: ', scores_v['test_score'].mean())

for fiature in ['ctr', 'category_code', 'authors_code','session_code', 'n_tags', 'day', 'year']:
    model_1 = xg.XGBRegressor()
    scores_v = cross_validate(model_1, 
                              X.drop(fiature, axis = 1),
                              y['depth'], cv=5, scoring='r2')
    print('Без ',fiature,':', scores_v['test_score'].mean())

Используя все фичи:  0.7446408562221991
Без  ctr : 0.6674495811502488
Без  category_code : 0.7399560876455669
Без  authors_code : 0.7450997014173566
Без  session_code : 0.7598758977060135
Без  n_tags : 0.7472426476689918
Без  day : 0.5645818425099799
Без  year : 0.7409824837124159
Wall time: 19.7 s

Вывод - Можно попробоавть без session_code

In [152]:
X_local = X.drop(['session_code'],axis = 1)

In [154]:
%%time
model_1 = xg.XGBRegressor()
scores_v = cross_validate(model_1, X_local, y['depth'], cv=5, scoring='r2')
print('Используя все фичи (без n_tags): ', scores_v['test_score'].mean())

for fiature in ['ctr', 'category_code', 'authors_code', 'n_tags', 'day', 'year']:
    model_1 = xg.XGBRegressor()
    scores_v = cross_validate(model_1, 
                              X_local.drop(fiature, axis = 1),
                              y['depth'], cv=5, scoring='r2')
    print('Без ',fiature,':', scores_v['test_score'].mean())

Используя все фичи (без n_tags):  0.7598758977060135
Без  ctr : 0.6662839368887956
Без  category_code : 0.7502730828427224
Без  authors_code : 0.7562386411062835
Без  n_tags : 0.7604317411242724
Без  day : 0.5559119417771552
Без  year : 0.75562371263018
Wall time: 13.3 s

Оставляем как есть

### Исследуем модель для full_reads_percent

In [155]:
%%time
model_1 = xg.XGBRegressor()
scores_v = cross_validate(model_1, X, y['full_reads_percent'], cv=5, scoring='r2')
print('Используя все фичи: ', scores_v['test_score'].mean())

for fiature in ['n_authors', 'year', 'day', 'authors_code', 'session_code']:
    model_1 = xg.XGBRegressor()
    scores_v = cross_validate(model_1, 
                              X.drop(fiature, axis = 1),
                              y['full_reads_percent'], cv=5, scoring='r2')
    print('Без ',fiature,':', scores_v['test_score'].mean())

Используя все фичи:  0.2839795983016149
Без  n_authors : 0.270021519212669
Без  year : 0.2799510756570229
Без  day : 0.27346359169074785
Без  authors_code : 0.22156885990451344
Без  session_code : 0.29297282678640857
Wall time: 14.7 s

Вывод - Можно попробовать убрать Session_code

In [156]:
X_local = X.drop(['session_code'],axis = 1)

In [157]:
%%time
model_1 = xg.XGBRegressor()
scores_v = cross_validate(model_1, X_local, y['full_reads_percent'], cv=5, scoring='r2')
print('Используя все фичи (без n_tags): ', scores_v['test_score'].mean())

for fiature in ['n_authors', 'year', 'day', 'authors_code']:
    model_1 = xg.XGBRegressor()
    scores_v = cross_validate(model_1, 
                              X_local.drop(fiature, axis = 1),
                              y['full_reads_percent'], cv=5, scoring='r2')
    print('Без ',fiature,':', scores_v['test_score'].mean())

Используя все фичи (без n_tags):  0.29297282678640857
Без  n_authors : 0.2866297819020302
Без  year : 0.29167972693280636
Без  day : 0.28331400121488953
Без  authors_code : 0.23355125426520792
Wall time: 9.73 s

Вывод: Оставляем как есть

### Итог: Для View - n_tags; Для двух других - Session_code

#### Фигачим ответ

In [158]:
X

,ctr,category_code,session_code,authors_code,n_authors,n_tags,day,mounth,year
document_id,,,,,,,,,
624ac09c9a7947db3d80c98eIDE7mtH4RBqGn-8MXfGffQ,1.580,2,2405,739,0,4,4,4,22
620f6b899a7947701cf489e1KtVJsteHStO5oditt3Uvzw,1.853,0,2724,46,2,3,18,2,22
620730cf9a7947ab96a44e27hk7puWJwSziw0m3sfTkKWA,0.000,0,5741,739,0,3,12,2,22
6262a5889a79470b78c9ca307UKY2SSZTjCcjhwBzxw37w,0.000,0,1049,739,0,5,22,4,22
626678929a79477ca0101568wuMYES90REuV5YhrN75IXg,0.000,5,7665,739,0,6,25,4,22
...,...,...,...,...,...,...,...,...,...
61fd479c9a7947848183694751RC_1i5QlGuv7B2FzwTjw,2.354,5,763,173,1,8,4,2,22
628a8f1c9a79478c64a7dae450tIkSGVSf2O8XQgk_uaHQ,4.112,3,762,569,2,3,22,5,22
6244cf5e9a79479099346b26tKlqoxQYSmij0ZBrGzebug,5.125,5,7228,739,0,4,30,3,22
627303699a794749b8116abc12JX_3ZDTDu2XHF3k2eJVg,0.000,1,258,739,0,4,4,5,22
627f1c089a794743b070ff73hVvdVmFxS2SlZ2_lECDEow,2.937,0,5706,437,1,3,14,5,22

In [159]:
df_test.drop(['title', 'publish_date', 'session', 'authors', 'category', 'tags'], axis = 1)

,ctr,category_code,session_code,authors_code,n_authors,n_tags,day,mounth,year
document_id,,,,,,,,,
61f9569a9a794794245a82abJ0AvX96vTAaQCiWVbzoMdw,0.000,0,2510,739,0,5,1,2,22
628c22b89a79470e553f594bQS5CqzXYRnmDdR2LaSreEw,1.598,0,3427,739,0,4,24,5,22
627cb3249a7947ebdd752865XVsoyrUOT8OJJg2_finJhw,2.006,0,4312,739,0,3,12,5,22
628618629a7947d4927eb812upfii3whSSuMXCqcqF8VbQ,0.000,0,7405,739,0,4,19,5,22
620e76109a7947235623695b5hzCiIHdSYKQIr8WAM18bw,9.136,0,852,494,1,3,17,2,22
...,...,...,...,...,...,...,...,...,...
623ba6bc9a79470214cb9418x4OZQ1IjTb27nPAgv5wAZg,1.788,4,7695,358,1,4,23,3,22
624fda1f9a79471a9bd102eetuRTrLPGSZyNbc9_YcBAeQ,4.427,3,7300,417,1,2,8,4,22
6257a6a99a79477eea75b86dtBr3UG9ORW-gOybkVKX6ww,0.000,1,7214,739,0,3,14,4,22
624866d59a7947421716ab46WsGDKyGjTJGRh14eR7UVvw,0.000,5,4238,739,0,3,2,4,22
6236f9129a79477b0ef18ae0ewByZQ1FQBK2dpXyY77rYw,0.000,0,5356,739,0,3,20,3,22

In [160]:
%%time
model_views = xg.XGBRegressor()
model_depth = xg.XGBRegressor()
model_full_reads_percent = xg.XGBRegressor()

Wall time: 1 ms

In [162]:
%%time
model_views.fit(X.drop(['n_tags'] , axis=1), y['views'])
model_depth.fit(X.drop(['session_code'], axis=1), y['depth'])
model_full_reads_percent.fit(X.drop(['session_code'], axis=1), y['full_reads_percent'])

Wall time: 1.4 s

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=8,
             num_parallel_tree=1, objective='reg:squarederror',
             predictor='auto', random_state=0, reg_alpha=0, reg_lambda=1,
             scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [165]:
len(model_full_reads_percent.predict(test_df.drop(['session_code'], axis=1)))

3000

In [166]:
sample['views'] = model_views.predict(test_df.drop(['n_tags'], axis=1))
sample['depth'] = model_depth.predict(test_df.drop(['session_code'], axis=1))
sample['full_reads_percent'] = model_full_reads_percent.predict(test_df.drop(['session_code'], axis=1))

In [167]:
sample

,views,depth,full_reads_percent
document_id,,,
61f9569a9a794794245a82abJ0AvX96vTAaQCiWVbzoMdw,20325.433594,1.172853,39.740040
628c22b89a79470e553f594bQS5CqzXYRnmDdR2LaSreEw,9841.697266,1.066869,38.280693
627cb3249a7947ebdd752865XVsoyrUOT8OJJg2_finJhw,9595.762695,1.070459,36.593498
628618629a7947d4927eb812upfii3whSSuMXCqcqF8VbQ,7280.983398,1.066451,41.196133
620e76109a7947235623695b5hzCiIHdSYKQIr8WAM18bw,103764.703125,1.135663,31.309135
...,...,...,...
623ba6bc9a79470214cb9418x4OZQ1IjTb27nPAgv5wAZg,47986.593750,1.134984,34.757656
624fda1f9a79471a9bd102eetuRTrLPGSZyNbc9_YcBAeQ,27891.960938,1.126167,33.197762
6257a6a99a79477eea75b86dtBr3UG9ORW-gOybkVKX6ww,5098.840332,1.062279,43.815540
624866d59a7947421716ab46WsGDKyGjTJGRh14eR7UVvw,16387.835938,1.187000,43.220184
6236f9129a79477b0ef18ae0ewByZQ1FQBK2dpXyY77rYw,17206.765625,1.195897,39.179794

In [168]:
sample.to_csv('content/predictions/test_prediction_v3.csv')

#### Public Score: 0.66